@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (min-width: 768px) {
    .img-profile {
        max-width: 200px;
        margin: 0 auto;
    }

    .img-post {
        width: 75%;
    }
}